<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @assignment.description %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
